version: 2.1

workflows:
  deploy_pipeline:
    jobs:
      - deploy_app_to_railway:
          filters:
            branches:
              only: main

jobs:
  deploy_app_to_railway:
    docker:
      - image: cimg/node:18.20
    steps:
      - checkout

      - run:
          name: Instalar Railway CLI
          command: |
            npm install -g @railway/cli
            railway --version

      - run:
          name: Login Railway con token
          command: |
            railway login --token "$RAILWAY_TOKEN"
            railway whoami

      - run:
          name: Desplegar servicio
          command: |
            cd bankchurn-api
            # CAMBIA el nombre entre comillas por el NOMBRE EXACTO de tu servicio en Railway
            railway up --service "amiable-perfection" --yes --detach
