version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/node:18.17
    steps:
      - checkout
      - run:
          name: Instalar Railway CLI
          command: npm install -g railway
      - run:
          name: Verificar variables y preparar contexto
          command: |
            if [ -z "$RAILWAY_TOKEN" ]; then
              echo "ERROR: Falta RAILWAY_TOKEN en CircleCI"
              exit 1
            fi
            echo "RAILWAY_TOKEN detectado correctamente"
      - run:
          name: Desplegar en Railway
          command: railway up --amiable-perfection --ci

workflows:
  version: 2
  deploy_workflow:
    jobs:
      - deploy